.navbar{  
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    a{
        padding: 10px;
    }
    .home{
        color: black;
        text-decoration: none;
    }
    .customers{
      color: black;
      text-decoration: none;
    }

    .tasks{
      color: black;
      text-decoration: none;
    }
}